MONGODB_URI=mongodb+srv://hasinsadique7_db_user:OVt6IrPdvXRuLATz@syntrix-cluster.a7ufba3.mongodb.net/?appName=syntrix-cluster
MONGO_DB_NAME=syntrixDB
USERNAME=hasinsadique7_db_user
PASSWORD=F3U6nFlABc9gQAce
JWT_SECRET=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=
